@charset "UTF-8";

@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

body {
	margin: 0 auto;
	z-index: 1;
	font-family: 'S-CoreDream-3Light'; 
}

#container {
	margin: 0 auto;
	width: 550px;
	height: auto;
	text-align: center;
	padding-top: 250px;
}

h2 {
	margin: 30px;
}

#form {
	margin: 10px;
	padding: 10px;
}

#form div {
	width: 500px;
	float: left;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

#form div input {
	width: 200px;
	height: 20px;
	float: right;
	margin: 5px;
	padding: 3px;
}

.btn {
	margin: 5px;
	margin-top: 20px;
}

span {
	font-size: small;
	font-weight: normal;
	color: red;
	float: right;
	margin-right: 10px;
}
table {
	margin: 0 auto;
	text-align: left;
}

th, td {
	padding: 10px;
}

td input {
	height: 20px;
	padding: 3px;
	width: 200px;
}
